<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="htmlEncode" converterClass="fr.insee.survey.datacollectionmanagement.config.LogbackAvoidLogForgeryContentEncoder" />
    <include resource="org/springframework/boot/logging/logback/base.xml" />
</configuration>